$text: 30px;
.pageContainer {
    display: flex;
    flex-direction: row;
    margin: 5px 0;
    .container {
        display: flex;
        flex-direction: column;
        gap: 5px;

        .diceContainer {
            display: flex;
            flex-direction: column;
            gap: 5px;

            .dice {
            }
            .button {
                font-size: $text;
                font-weight: bold;
                margin-left: 5px;
            }
            .input {
                font-size: $text;
                font-weight: bold;
                margin-left: 5px;
            }
        }

        .resContainer {
            color: blue;
            .res {
            }
        }
    }
}
